#body{

    background-color: rgb(253,251,251);
}

#titulo {
    color: rgb(253,251,251);
    position: relative;
    
}
.text {
    color: rgba(46, 44, 44, 0.993);
}
#minha_foto {
    position: static;
    margin-top: 150px;
    border: 5px solid #8f8e8e;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}
#licoes_aprendidas {
}
#licoes_a_aprender {
}
#rodape {
}
#cabecalho{
    position: fixed;
    top: 0;
    background-color: black;
    text-align: center;
    padding: 2%;
}

